<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <h2 class="text-2xl font-bold leading-tight tracking-tight text-gray-900 md:text-3xl dark:text-white mb-8 mt-6 mx-6">Sign up</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "p-6 space-y-4 md:space-y-6"}) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="flex flex-col space-y-2">
          <%= f.label :email, class: "text-sm font-medium text-gray-900 dark:text-white" %>
          <%= f.email_field :email, class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", autofocus: true, autocomplete: "email" %>
        </div>

        <div class="flex flex-col space-y-2">
          <%= f.label :password, class: "text-sm font-medium text-gray-900 dark:text-white" %>
          <% if @minimum_password_length %>
            <em class="text-gray-600 text-sm">(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", autocomplete: "new-password" %>
        </div>

        <div class="flex flex-col space-y-2">
          <%= f.label :password_confirmation, class: "text-sm font-medium text-gray-900 dark:text-white" %>
          <%= f.password_field :password_confirmation, class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", autocomplete: "new-password" %>
        </div>

        <div class="flex items-center justify-center">
          <%= f.submit "Sign up", class: "w-full text-black bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary dark:focus:ring-primary-800" %>
        </div>
      <% end %>

      <div class="p-6 text-sm font-light text-black-500 dark:text-black-400">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</section>

